<h1>
  Issue Number: <small>{{ issueNumber() }}</small>
</h1>
<a routerLink="/">Back to Issues</a>

@if(issueQuery.data() === undefined){
<p>Loading...</p>
} @else {
    <issue-comment [issue]="issueQuery.data()!" />
}


<!-- comments -->
<!-- issuecommentsquery -->
 <!-- @for -->
  @if(issueCommentsQuery.isLoading()){
    <p>Loading...</p>
  } @else {
  @for(comment of issueCommentsQuery.data()!; track comment.id){
    <issue-comment [issue]="comment" />
  } @empty {
    <p>No comments</p>
  }
}